<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
    <ion-button (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <div class="card" (click)="addFlight()">
        <div class="container">
        <h1>Add Flight</h1>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="card">
        <div class="container">
        <h1>Show Report</h1>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="card" (click)="goFlightLists()">
        <div class="container">
        <h1>Edit Flights</h1>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
