
<ion-header>
  <ion-toolbar>
    <ion-title>Flights</ion-title>
    <ion-button (click)="logout()">LogOut</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-searchbar (ionChange)="checkFilter($event)" animated value=""> </ion-searchbar>

  </div>
  <div  *ngFor="let item of flights; let i=index" overflow-scroll="true">
  <ion-card (click)="openModal(i)">
    <ion-card-header>
      <ion-card-subtitle>{{item.sourceCity}}</ion-card-subtitle>
      <ion-card-title>{{item.sourceCity}} to {{item.destenation}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     <p>This flight is from {{item.sourceCity}} to {{item.destenation}}</p>
      <p>The Price is: {{item.priceForFlight}}</p>
      <p>The date from: {{item.date}}</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>



